# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Node
**/node_modules/
**/dist/
**/.wrangler/
**/wrangler.toml

# Go
!**/cmd/
**/*.exe

# Zip archives
*.zip

# Secrets
*.env
.env.*
**/*.pem
**/*.key

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.env
.env*
